<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body style="padding-left: 16px; padding-top: 7px;">
    <div class="canvas-div">
        <div class="canvas-body">
            <canvas (mouseenter)="activateDynamicPan = true" (mouseout)="activateDynamicPan = false" (mousemove)="showCoords($event)" id="canvas" class="my-canvas" #myCanvas width="1199" height="674"></canvas>
        </div>
        
        <div>
            <div id="nameplate" style="margin-top: 15px; display: inline-block; width: 300px;">
                <h2 style="display: inline;">CANVAS </h2>
                <p style="display: inline;">(X: {{coordinateX}}, Y: {{coordinateY}})</p>
            </div>
    
            <div class="add-iteams" style="display: inline-block">
                <button mat-raised-button (click)="addIteams()">Functions</button>
            </div>
        </div>

        <div class="vector-set-quad-start-div">
            <mat-form-field >
                <mat-label>Add Coordinate</mat-label>
                <input class="vector-set-quad-start-input" id="starting-quad-data" type="text" matInput placeholder="Starting Coordinate(x,y)">
            </mat-form-field>
        </div>
        <button mat-raised-button class="set-point-submit-button" type="submit" (click)="getStartingQuadinates()">Add Coord</button>
    </div>
    <div class="input-div">
        <select class="frame-select" style="position: sticky;" name="Items" [(ngModel)] = "selectedFrame" (ngModelChange)="frameChange()">
            <option *ngFor="let frame of referenceFrameList" [value]="frame">{{frame}}</option>
        </select>

        <form [formGroup]="formDetails" (ngSubmit)="onSubmit()">
            <div class="vector-add-quad-div">
                <input formControlName="vector2D_coord" class="vector-add-quad-input" id="vector-data" type="text" placeholder="Vector2D (x,y)">
            </div>
    
            <div class="vector-add-des-div">
                <!-- <label for="">Vector: </label> -->
                <input formControlName="vector2D_name" class="vector-add-quad-input" id="vector-data" type="text" placeholder="Vector2D Name">
            </div>
    
            <div class="vector-add-des-div">
                <!-- <label for="">Vector: </label> -->
                <textarea formControlName="vector2D_description" class="vector-add-des-input" id="vector-data" type="text" placeholder="Vector2D Description"></textarea>
            </div>
            <div class="add-submit-button-div">
                <button mat-raised-button [disabled]="formDetails.controls['vector2D_coord'].invalid || formDetails.controls['vector2D_name'].invalid || formDetails.controls['vector2D_description'].invalid" class="add-submit-button" type="submit">Submit</button>
            </div>
        </form> 
        
        <select class="project-select" (change) = "selectedProjectFunction($event)"  style="position: sticky;" name="Items" id="cars">
            <option class="iteam-option" *ngFor="let proj of projectList" [value]="proj.id">{{proj.name}}</option>
        </select>
        <div class="project-box">
            <div class="project-menue-div">
                <div *ngFor="let i of projectIteamContainer; let indx = index; " style="cursor: pointer; vertical-align: middle;" (mouseover) = "hoverOnProjectIteam(true, i)" (mouseout) = "hoverOnProjectIteam(false, i)" [style.background-color]="i.isHovering ? 'rgba(143, 140, 140, 0.712)' : 'rgb(250, 250, 250)'" class="iteam-menue-list">
                    <span style="padding-left: 10px; margin-top: 30px;">{{indx+1}}</span>
                    <span style="padding-left: 25px;">{{i.name}}</span>
                    <a style="float: right; cursor: pointer; width: 16px; padding-left: 10px;" href="#">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color: rgb(196, 29, 29); font-size:19px;"></i>
                    </a>
                    <a style="float: right; cursor: pointer; width: 16px; padding-left: 10px;" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: rgb(17, 108, 126); font-size:19px;" (click)="this.saveProject.editProject(i.ref, $event)"></i>
                    </a>
                    <a style="float:right; cursor: pointer; width: 16px;" (click)="selectedProjectIteam(i, $event)"  href="#">
                        <i class="fa fa-play-circle-o" aria-hidden="true" [style.color]="i.isAdded ? 'rgb(21, 191, 66)' : 'rgb(255, 17, 17)'" style=" padding-left: 2px; padding-top: 1px; font-size:19px;"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>


    <div class="element-div">
        <select class="iteam-select" style="position: sticky;" name="Items" [(ngModel)] = "iteamSelectedMenue" id="cars" (ngModelChange)="displayIteamValues()">
            <option class="iteam-option" *ngFor="let item of iteamMenue" [value]="item">{{item}}</option>
        </select>
        <div class="element-box">
            <div class="iteam-menue-div">
                <div *ngFor="let i of iteamContain; let indx = index;" style="cursor: pointer;" class="iteam-menue-list" (mouseover) = "iteamHtml.hoverOnIteam(true, i)" (mouseout) = "iteamHtml.hoverOnIteam(false, i)" [style.background-color]="i.isHovering ? 'rgba(143, 140, 140, 0.712)' : 'rgb(250, 250, 250)'">
                    <span style="padding-left: 10px; margin-top: 30px;">{{indx+1}}</span>
                    <span style="padding-left: 25px;">{{i.name}}</span>
                    <a style="float: right; cursor: pointer; width: 16px; padding-left: 10px;" (click)="vector2DCRUDService.deleteThisVector(i)" href="#">
                        <i class="fa fa-trash-o" aria-hidden="true" style="color: rgb(196, 29, 29); font-size:19px;"></i>
                    </a>
                    <a style="float: right; cursor: pointer; width: 16px; padding-left: 10px;" href="#">
                        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color: rgb(17, 108, 126); font-size:19px;"></i>
                    </a>
                    <a style="float:right; cursor: pointer; width: 16px;" (click)="selectedIteam(i, $event)"  href="#">
                        <i class="fa fa-play-circle-o" aria-hidden="true" [style.color]="i.isAdded ? 'rgb(21, 191, 66)' : 'rgb(255, 17, 17)'" style=" padding-left: 2px; padding-top: 1px; font-size:19px;"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="save-project-button-div">
            <button mat-raised-button class="save-project-button" (click)="saveProject.saveProject(this.projectIteamContainer, this.projectList)">Save All</button>
        </div>
    </div>
</body>